name: validate_iac

on:
  push:
    branches:
      - "feat/**"
      - "refactor/**"
      - "bugfix/**"
      - "hotfix/**"
  pull_request:
    branches:
      - "main"

jobs:
  validate-terraform:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          directories:
            [
                "terraform",
            ]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up aws cli
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
          mask-aws-account-id: true

      - name: Set up terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_wrapper: false
          
      - name: Validate terraform
        working-directory: ${{ matrix.directories }}
        run: |
          export TF_LOG=ERROR
          export TF_LOG_CORE=ERROR
          export TF_LOG_PROVIDER=ERROR
          terraform init -backend-config="bucket=${{ secrets.TF_ARTIFACTS_BUCKET_NAME_DEV }}" \
          -backend-config="key=state/terraform.tfstate"
          terraform validate
